{
  "IsEncrypt": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "APPLICATIONINSIGHTS_CONNECTION_STRING": "",
    "FINNHUB_API_KEY": "d8em7...",
    "CLAUDE_API_KEY": "sk-ant-..."
  }
}
